<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">All Ledger</a>
    </div>
    
    <div class="navbar navbar-right">
        <ul class="nav navbar-nav">
            <li><%= link_to 'New Entery' %></li>
        </ul>
    </div>
    
  </div>
</nav>

<% @ledgers.each do |ledger| %>
  <h3><%= ledger.title %></h3>
  <h4><%= ledger.amount %></h4>
<% end %>