$primary-font: 'Raleway', sans-serif;
$footer-height: 45px;

html, body {
    height: 100%;
    font-family: $primary-font;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -$footer-height;
    padding: 0 0 $footer-height;
}

.navbar-default {
    background-color: #02c17c;
}

.navbar-header {
    width: auto;
    height: auto;
    margin: 0 auto;
    font-family: $primary-font;
    background-color: #02c17c;
}

.navbar-header .navbar-brand {
    background-color: #02c17c;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 2px;
    color: #ffffff;
}

.navbar-collapse{
    font-family: $primary-font;
    color: #ffffff;
}

.navbar-right {
    a {
        color: #ffffff;
    }
}
.nav .navbar-nav .navbar-right {
    a:hover {
        color: #ffffff;
    }
}